# PyCitySchools
analysis here

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
#load and read files
schools = Path("Resources/schools_complete.csv")
students = Path("Resources/students_complete.csv")

school_df = pd.read_csv(schools)
student_df = pd.read_csv(students)

#Merge data frames
merged_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [3]:
#Number of Schools
school_list = merged_df['school_name'].unique()
print("Participant Schools")
print("")
print(school_list)

school_count = len(merged_df["school_name"].unique())
print("")
print("Number of schools: " + str(school_count))

Participant Schools

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

Number of schools: 15

In [4]:
#Number of Students
student_count = merged_df['Student ID'].count()
print("Number of students: " + str(student_count))

Number of students: 39170

In [5]:
#Total Budget
total_budget = school_df['budget'].sum()
print("Total budget: " + str(total_budget))

Total budget: 24649428

In [6]:
#Average Math Score
average_math_score = merged_df['math_score'].mean()
print("Average math score: " + str(average_math_score))

78.98537145774827

In [7]:
#Average Reading Score
average_reading_score = merged_df['reading_score'].mean()
print("Average reading score: " + str(average_reading_score))

81.87784018381414

In [8]:
#Percent Passing Math (>70)
passing_math_count = merged_df[(merged_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
#Percent Passing Reading (>70)
passing_reading_count = merged_df[(merged_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [10]:
#Percent Passing Math and Reading
passing_math_reading_count = merged_df[
    (merged_df["math_score"] >= 70) & (merged_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983